#define MANIFEST 24
#define IDD_DLG1 1000
#define IDC_BTN1 1001
#define IDC_BTN2 1002
#define IDR_XPMANIFEST1 1

#include "C:/masm32/include/RESOURCE.H"

IDD_DLG1 DIALOGEX 10,10,163,55
CAPTION "Окно"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "Вперед",IDC_BTN1,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,21,18,54,15
  CONTROL "Выход",IDC_BTN2,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,87,18,54,15
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

