#define IDM_FILE 10001
#define IDR_MENU 10000
#define IDM_OPEN 10004
#define IDM_CLOSE 10005
#define IDM_EXIT 10006
#define IDM_EDIT 10002
#define IDM_HELP 10003

IDR_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open",IDM_OPEN
    MENUITEM "&Close",IDM_CLOSE
    MENUITEM SEPARATOR
    MENUITEM "&Exit",IDM_EXIT
  END
  MENUITEM "&Edit",IDM_EDIT
  MENUITEM "&Help",IDM_HELP
END

