#define IDD_MAIN 1000
#define IDC_EDT1 1001
#define IDC_STC1 1002
#define IDC_BTN1 1003

IDD_MAIN DIALOGEX -3,-18,156,45
CAPTION "Диалоговое окно"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CF0000
BEGIN
  CONTROL "",IDC_EDT1,"Edit",0x50010000,75,3,78,15,0x00000200
  CONTROL "Введите значение:",IDC_STC1,"Static",0x50000000,6,6,69,9
  CONTROL "ОК",IDC_BTN1,"Button",0x50010000,6,24,54,15
END

