#define DS_MODALFRAME 128
#define DS_CENTER 2048
#define WS_POPUP -214748365.
#define WS_CAPTION 12582912
#define WS_SYSMENU 524288
#define ES_AUTOHSCROLL 128
#define IDB_ProgID 1002
#define IDB_CLSID 1003
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_EDIT1 1000
#define IDC_EDIT2 1001

MyDialog DIALOGEX 200,200,200,66
CAPTION "ProgID <-> CLSID"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x90C80880
BEGIN
  CONTROL "Get ProgID",IDB_ProgID,"Button",0x50010001,35,46,50,14
  CONTROL "Get CLSID",IDB_CLSID,"Button",0x50010000,108,46,50,14
  CONTROL "CLSID:",IDC_STATIC,"Static",0x50020000,7,7,26,12
  CONTROL "ProgID:",IDC_STATIC,"Static",0x50020000,7,27,26,12
  CONTROL "",IDC_EDIT1,"Edit",0x50010080,38,7,154,12,0x00000200
  CONTROL "",IDC_EDIT2,"Edit",0x50010080,38,27,154,12,0x00000200
END

